.quiz {
    box-shadow: 10px 10px 8px 10px #888888;
    background-color: #c8d6e5;
}

.btn-quiz {
    box-shadow: 10px 10px 5px 5px #646464;
    background-color: #b4b1b1;
}

.btn-icon {
    width: 30px;
    width: 30px;
}